.about-why {
    max-width: 1100px;
    margin: 0 auto 60px auto;
    padding: 40px 20px;
}

.who-we-are {
    text-align: center;
    margin-bottom: 15px;
}

.who-we-are h2 {
    margin-bottom: 16px;
}

.who-we-are p {
    max-width: 900px;
    margin: auto;
    line-height: 1.6;
}

.why-title {
    text-align: center;
    margin-bottom: 40px;
}

.why-card {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 30px;
    border: 1.5px solid #ccc;
    border-radius: 14px;
    margin-bottom: 30px;
    background: #fff;
    box-shadow: 0 8px 22px rgba(0, 0, 0, 0.08);
    position: relative;
        /* IMPORTANT for z-index */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.why-card:hover {
    transform: scale(1.03);
        /* comes forward */
    z-index: 5;
        /* stays above others */
    box-shadow: 0 18px 35px rgba(0, 0, 0, 0.15);
}

.why-card img {
    width: 300px;
    flex-shrink: 0;
}

.why-card h4 {
    font-size: 25px;
    margin-bottom: 10px;
    color: #054070;
}

.why-card.reverse {
    flex-direction: row-reverse;
}

.why-card.highlight {
    border: 2px solid #0f74ae;
}
.who-we-work-with{
    padding-top: 80px;
        /* adjust value as needed */
        padding-bottom: 40px;
        text-align: center;
}
.who-we-work-with p {
    padding-top: 40px;
    padding-bottom: 50px;
}